.header{
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding-top: 45px;
  padding-bottom: 41px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__log-info{
  display: flex;
  justify-content: end;
  gap: 24px;
  font-weight: 500;  
  font-size: 18px;
  line-height: 22px;
}
.header___link{
  font-weight: 500;  
  font-size: 18px;
  line-height: 22px;
  color: #FFF;
  text-decoration: none;
}
.header__logout{
  cursor: pointer;
}
@media screen and (max-width: 900px){
  .header{
    padding: 28px 0 32px 26px;
  }
  .header__logo{
    width: 126px;
    height: 24px;
  }
}